<p id="notice"><%= notice %></p>

<h1>Hipsterville</h1>

<div class="row">
  <%= @blog_posts.each do |blog_post| %>
  <div class="col-md-6">
    <div class="panelpanel-default">
      <div class="panelpanel-heading">
        <p><strong><%= blog_post.title %></strong> by <%= blog_post.author %></p>
      </div>
      <div class="panel-body">
        <p><%= blog_post.blog_entry %></p>
      </div>
      <div class="panel-footer">
        <%= link_to 'Show', blog_post, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
        <%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Slow down home skillet; sure you wanna go through with this?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>

<%= link_to 'New Blog post', new_blog_post_path %>
